# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java-Spring-CI-with-Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean install package     #mvn -B package --file pom.xml
    - name: Copy and move jar
      run: mkdir staging && cp target/*.jar staging

    - name: Upload build files
      uses: actions/upload-artifact@v4
      with:
        name: Package
        path: staging
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
  push-image:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    steps:
      - name: download jar
        uses: actions/download-artifact@v4
        with:
          name: Package
          path: .
      - name: Check for jars before cd
        run: ls
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      #    - name: Download artifacts
#      uses: actions/download-artifact@v4
#      with:
#        name: packaged-application
#        path: target/
#    - name: Set up QEMU
#      uses: docker/setup-qemu-action@v3
#    - name: Set up Docker Buildx
#      uses: docker/setup-buildx-action@v3
#    - name: Login to Docker Hub
#      uses: docker/login-action@v3
#      with:
#        username: ${{ secrets.DOCKERHUB_USERNAME }}
#        password: ${{ secrets.DOCKERHUB_TOKEN }}
#    - name: Build and push
#      uses: docker/build-push-action@v6
#      with:
#        push: true
#        tags: dasari508201/dear-comrade-spring-zero-to-hero:0.0.10
      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive

